%h1.large Frequently Asked Questions

%ul.bullets.faqs
  - faqs.each do |faq|
    .faq
      .faq-image
        %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png"}/
      .faq-content
        %h1.question= faq.question
        %p.answer= faq.answer.html_safe
        %p.faq-detail= "Last updated #{faq.updated_at.strftime("%B %d, %Y")}"
