%h1.large Frequently Asked Questions

%ul.bullets.faqs
  - faqs.each do |faq|
    .faq
      .faq-image
        %i.fa.fa-question-circle
      .faq-content
        %h1.question= faq.question
        %p.answer= faq.answer.html_safe
        %p.faq-detail= "Last updated #{faq.updated_at.strftime("%B %d, %Y")}"
