%h1 Discussions
- if current_user.present?
  = link_to new_discussion_path do
    %button Create Discussion

.discussions
  - discussions.each do |disc|
    .discussion
      .question
        %h1= link_to disc.question, discussion_path(disc.id)
      .details
        %span.tag= disc.course.try(&:course_code)
