
.section
  %h1 About the CPEhub
  %p
    Hey to anyone and everyone who decided to check out this web application! Really appreciate any comments or feedback that you have to offer.
    Many of you may be wondering the use of this application. Well, a little background on me, I am a second year computer engineering major.
    My first year as a CPE major was extremely stressful. What classes should I take? How hard is the workload? Is this class helpful for my career? What is a tech elective?
    These were my thoughts as I tried to traverse this confusing major. This web app seeks to remedy this issue many of my friends and colleagues have faced here at UF.
  %h2.subheader The Problem
  %p
    The main issue I ran into time and time again here was what classes should I take and how realistic is my schedule?
    From all my searching, I found no good central place to find all the answers that I was looking for. In fact, if I were
    not a prominent member of ACE I would have no idea where I should have started. The biggest issues being:
    %ul.bulleted-list
      %li No central space to look for commonly asked questions.
      %li No place to concisely see what classes I should take with who.
      %li The current websites directed at CPE majors are old and outdated.
      %li No place to determine what tech electives work best for you.
  %h2.subheader The Solution
  %p
    I found the solution to be that there should be a "hub" (the CPEhub) where all of these questions can be answered.
    With this web app you can:
    %ul.bulleted-list
      %li View tech elective, breadth elective, or major courses with reviews by our talented staff.
      %li Look at real reviews of professors by real people who have taken these professors.
      %li Check out FAQS that are regularly updated by people who are in the CPE major.
      %li Create discussions posts if you can't find the answer you are looking for.

    I find the greatest advantage of this site is that everything is posted by students. An advisor will tell
    you a drastically different review than an actual student who is struggling with you. The main function
    of this site is to create a community for CPE majors to thrive in and build the best career possible.

  %p Thanks for reading,
  %p
    = "- Luke Pfeiffer,"
    %i Web and Graphic Design Chair for ACE
