$light-gray: #f2f2f2;
$medium-gray: #ccc;
$soft-gray: #535A60;
$blue-link: #4F7193;

#courses_index{
  .letters{
    border-bottom: 1px solid $soft-gray;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;

    .course-type{
      font-size: 22px;
      margin-bottom: 0;
    }

    a{
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .course-letters{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;

    a{
      margin-right: 10px;
      background: $light-gray;
      border: 1px solid $medium-gray;
      padding: 5px;
      color: $blue-link;

      &:hover{
        background-color: darken($light-gray, 4%);
      }
    }
  }
}
