$blue: #39739d;
$light-gray: #E1ECF4;
$border-color: #E4E6E8;
$question-color: #0077CC;
$detail-color: #6a737c;

.tag{
  padding: 3px;
  font-size: 12px;
  color: $blue;
  background-color: $light-gray;
  border: 1px solid transparent;
}

.username{
  color: $question-color;
  text-align: right;
  padding: 15px;
}

.question-username{
  background-color: $light-gray;
  border: 1px solid transparent;
  font-size:14px;
  padding: 20px;
  width: 25%;
  text-align: center;
  margin-left: auto;

  .name{
    font-weight: bold;
    color: $blue;
  }
}

.discussion-index{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  .header{
    border-bottom: 1px solid $border-color;
  }
}

.discussions{
  .discussion{
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid $border-color;
    .question{
      color: $question-color;
    }

    .details{
      .poster{
        text-align: right;

        div{
          color: $detail-color;
          font-size: 12px;

        }
      }
    }
  }
}

.discussion{
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: flex-start;

  .logistics, .content{
    width: 30%;
  }

  .disc-content{
    width: 65%;
    margin: 0;
  }

  .logistics{
    padding: 0;
    margin: 0;
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: flex-start;

    .votes, .replies{
      width: 49%;
      text-align: center;

      .vertical-align{
        color: $detail-color;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }

      p{
        margin: 0;
        font-size: 12px;
      }
    }
  }
}

#discussion-show{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  h1{
    font-size: 1.5em;
    font-weight: 400;
    border-bottom: 1px solid $border-color;
    padding: 0 0 20px 0;
  }

  .disc-show-content{
    padding: 0;
    margin: 0;
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: flex-start;

    .votes{
      width: 4%;
      text-align: center;
      margin-right: 15px;
    }

    .body{
      width: 93%;
    }
  }
}
