.inline{
  .item{
    float: left;
    width: 49%;
    margin-right: 10px;
  }

  .item-small{
    width: 32%;
    float: left;
    margin-right: 10px;
  }

}

.clear_both{
  clear: both;
}

.filepicker{
  background-color: $green;
  &:hover{
    background-color: darken($green, 5%);
  }
}

input[type=submit]{
  margin-top: 1em;
}
