.inline{
  .item{
    float: left;
    width: 49%;
    margin-right: 10px;
  }

  .item-small{
    width: 32%;
    float: left;
    margin-right: 10px;
  }

}

.clear_both{
  clear: both;
}

input[type=submit]{
  margin-top: 1em;
}
